@{
    ViewData["Title"] = "Страница не найдена";
}

<h1 class="text-danger">Страница не найдена</h1>
<p>Извините, запрашиваемая страница не найдена.</p>
<p>Возможно, вы ввели неверный URL-адрес или страница была перемещена или удалена.</p>