@{
    ViewData["Title"] = "Ошибка базы данных";
}

<h1 class="text-danger">Ошибка базы данных</h1>
<p>Извините, произошла ошибка при работе с базой данных. Пожалуйста, свяжитесь с администратором для получения помощи.</p>
<p>Подробная информация об ошибке: @ViewBag.ErrorMessage</p>