@{
    ViewData["Title"] = "Произошла ошибка";
}

<h1 class="text-danger">Произошла ошибка</h1>
<p>Извините, произошла непредвиденная ошибка. Пожалуйста, свяжитесь с администратором для получения помощи.</p>